<h1>How much money you gots?!</h1>
<form action='/result'>
  <div class="form-group">
    <div class=row>
    <label for="object">How much money do you have?</label>
    <input id="object" name="object" class="form-control" type="float">
    </div>
  </div>
  <div>
  <button type="submit" class="btn-default">How many coins?</button>
  </div>
</form>
